<html>
<head>
    <title>Backend - Main</title>
    <meta charset="UTF-8">
</head>
<h2>Add user</h2>
<form method="post" action="/backend">
    <label for="username">Username:</label><input name="username" type="text"><br>
    <input type="submit">
</form>
<h2>Remove user</h2>
{%  for user in users %}
<form method="post" action="/backend">
    <input name="delete" type="submit" value="{{ user[0] }}">
</form>
{% endfor %}
<br>
<button onclick='document.cookie = "gyc_login=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";location.reload();'>Logout</button>