<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard of Commits</title>
</head>
<body>
  <table>
      <tr class="header">
          <td>Name</td>
          <td>Commits</td>
      </tr>
      {% for user in users %}
      <tr>
          <td><a href="https://github.com/{{ user.name }}">{{ user.name }}</a></td>
          <td>{{ user.contributions }}</td>

      </tr>
      {% endfor %}
  </table>
  <div class="footer">
      Refreshed: {{ time }}
  </div>
 <!--<script src="static/index.js"></script>-->
</body>
</html>
<style>
    body{
        background-color: lightblue;
        width: 100%;
    }
    table{
        margin: 0 auto;
    }
    td{
        text-align: left;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 3px solid whitesmoke;
    }
    .header{
        background-color: deepskyblue;
    }
    .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: darkblue;
  text-align: center;
}
</style>