<html>
<head>
    <title>Backend - Login</title>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">

</head>
<body>
<div class="login">
    <h1 id="1">Backend</h1>

    <h3>Please enter the backend password</h3>

    <input id="password" type="password">
    <button class="btn btn-primary" onclick="login()">Login</button>
</div>
<script src="https://unpkg.com/node-forge@0.7.0/dist/forge.min.js"></script>
<script>
    function login() {

        var password = document.getElementById("password").value;
        var md = forge.md.sha256.create();
        md.update(password);
        document.cookie = "gyc_login=" + md.digest().toHex();
        location.reload(true);
    }
</script>
</body>
</html>
<style>

    .login {
        text-align: center;
        margin: auto;
    }

    #password {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;

        text-align: center;
        margin: auto;
    }

    h1 {
        padding-top: 15px;
    }

    h3 {
        padding-bottom: 20px;
    }

    .login {
        margin: auto;
        width: 50%;
    }
</style>
